div{
    width: 700px;
    margin: 0 auto;
}
div p{
    line-height: 1.5;
    font-size: 16px;
}
.green{
    color: green;
}
.red{
    color: red;
}
.bold{
    font-weight: bold;
}
.subrayado{
    text-decoration: overline underline;
}
.subrayado-red{
    color: red;
    font-weight: bold;
}
.negrilla{
    font-size: 50px;
}
.blue{
    color: blue;
}
.text{
    font-size: 20px;
}
