div{
    width: 700px;
}
div p{
    line-height: 1.8;
}
.subrayado-green{
    color: green;
}
.span-red{
    color: red;
    font-weight: bold;
}
.subrayado{
    text-decoration: overline underline;
}
.subrayado-red{
    color: red;
}
.negrilla{
    font-size: 50px;
}
.span-blue{
    color: blue;
}
